.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/node_modules/**
**/babel.config.js
**/package-lock.json
**/yarn.lock
**/vue.config.js
azure-pipelines.yml 